:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  min-height: 120vh;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #191c29;
  gap: 2rem;
  color: #fff;
  font-family: "MedievalSharp", cursive;
}
.game {
  display: flex;
}
.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  perspective: 2500px;
  margin: 0 50px;
}
.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper {
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.card.active .wrapper,
.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.card.active .wrapper::before,
.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}
.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card.active .title,
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}
.character {
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
}
.card.active .character,
.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
button {
  font-family: "MedievalSharp", cursive;
  background-color: #d8bc78;
  border: 2px solid #963404;
  outline: none;
  padding-left: 4vw;
  padding-right: 4vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  color: #191c29;
  height: 9vh;
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}
button:hover {
  opacity: 0.8;
}

button:focus {
  outline: 0;
}
button:disabled {
  cursor: not-allowed;
}
@media screen and (max-width: 600px) {
  body {
    min-height: 200vh;
  }
  .game {
    flex-direction: column;
    gap: 2rem;
  }
  .game.active {
    gap: 10rem;
  }
}
.card-holder {
  position: relative;
}
.health {
  font-size: 1.1rem;
  font-weight: normal;
  width: 90%;
  text-align: center;
  margin: 1vh 5%;
  color: #ccc;
  letter-spacing: 0.03em;
}

@media (min-width: 550px) {
  .health {
    margin: 2vh 5%;
  }
}
.health b {
  font-weight: bold;
  color: #fff;
}
.health-bar-outer {
  background: #171217;
  height: 1vh;
  width: 90%;
  margin: 0 5%;
  border-radius: 2px;
}
.health-bar-outer .health-bar-inner {
  background: #466d34;
  height: 100%;
  border-radius: 2px;
}
.health-bar-outer .health-bar-inner.danger {
  background: #d1435f;
}
.dice-container {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
@media (min-width: 550px) {
  .dice-container {
    height: 30%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}
.dice,
.placeholder-dice {
  height: 5.5vh;
  width: 5.5vh;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #666;
  color: #000721;
  text-align: center;
  line-height: 6vh;
}

.dice-container .dice,
.dice-container .placeholder-dice {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  margin-top: 10px;
}

.dice-container .placeholder-dice {
  background-color: transparent;
}
.end-game {
  text-align: center;
}
